#id {
  height: 100vh;
  background: green;
}
.error-page-main {
  background: green,
}

* {
  font-family: 'Roboto', sans-serif;
}

.appBar {
  position: 'relative',
}

.toolbarTitle {
  flex: 1,
}

body {
  background-color: white,
}

.linkNoStyle {
  text-decoration: none; color: white;
}

.error-page-body {
  margin-left: 5%;
  width: 90%;
}